header {
  position: fixed;
  width: 100%;
  height: 120px;
  background-color: transparent;
  color: #fff;
  z-index: 100;
  font-family: 'Amatic SC', cursive;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

header h1 {
  position: absolute;
  font-size: 2em;
  left: 30%;
  top: 5px;
}

.logo {
  margin: 5px;
  max-width: 18vw;
}

.ham-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2em;
}

.nav-links {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  text-transform: lowercase;
  left: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
  width: 50%;
  height: 100vh;
  background-color: #516d57;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-links .exit {
  position: absolute;
  right: 10px;
  top: 0;
  color: #fff;
  font-size: 1em;
}

.nav-links .links {
  margin-top: 10%;
  list-style: none;
  padding: 10px 0;
}

.nav-links .links li {
  display: block;
  font-size: 2em;
  padding: 10px;
  text-align: center;
  border-bottom: 0.5px solid gray;
  text-align: center;
}

.nav-links .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6% 0;
  list-style: none;
}

.nav-links .social li {
  margin: 5%;
  display: inline-block;
  font-size: 2em;
  text-align: center;
}

a {
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

a:hover {
  color: purple;
}

.openNav {
  left: 50% !important;
}

@media screen and (min-width: 760px) {
  .ham-menu {
    font-size: 3em;
  }
  .exit {
    font-size: 1em;
  }
  .logo {
    max-width: 12vw;
  }
  header h1 {
    font-size: 3em;
    left: 35%;
  }
}

@media screen and (min-width: 1000px) {
  .ham-menu, .exit {
    font-size: 3em;
  }
  .logo {
    max-width: 8vw;
  }
  header h1 {
    font-size: 4em;
    left: 40%;
  }
}

.headColor {
  background-color: #516d57f8 !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: raleway, sans-serif;
  background-color: #fff;
}

.hidden {
  display: none;
}

.component-container {
  z-index: 0;
}

@media screen and (min-width: 1000px) {
  #explore {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.splash-img {
  overflow: hidden;
  position: relative;
}

.splash-img img {
  max-width: 150vw;
  margin-left: -25%;
}

.splash-img p {
  position: absolute;
  top: 60%;
  left: 0;
  width: 70%;
  margin: 0 15%;
  text-align: center;
  color: #fff;
  font-size: 1em;
  border: 5px #fff solid;
  background-color: rgba(160, 160, 160, 0.39);
  padding: 10px 0px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

#explore {
  text-align: center;
}

#explore h2 {
  display: block;
  font-size: 3.5em;
  padding: 60px 10px 20px;
}

#explore .circle-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#explore .circle-cont .explore-circle {
  margin-bottom: 10px;
  font-size: 1.5em;
}

#explore .circle-cont .explore-circle img {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  overflow: hidden;
}

.text {
  position: absolute;
  color: #fff;
  font-size: 1.2em;
  margin: 10px;
}

.text h3 {
  font-size: 1.8em;
}

.clouds {
  margin-top: 20%;
  position: relative;
}

.clouds .text {
  top: 20%;
  left: 10px;
  width: 50%;
}

.clouds img {
  max-width: 100vw;
}

.trees {
  margin-top: -250px;
  position: relative;
}

.trees .text {
  text-align: center;
  top: 37%;
  right: 10%;
  width: 80%;
}

.trees .text a {
  margin-top: 10px;
  display: inline-block;
  padding: 5px;
  border: 3px #fff solid;
  font-size: 1em;
}

.trees img {
  max-width: 100vw;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

footer {
  position: relative;
}

footer img {
  max-width: 100vw;
}

footer p {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .splash-img img {
    max-width: 100vw;
    margin-left: 0;
  }
  .splash-img p {
    position: absolute;
    top: 60%;
    width: 70%;
    margin: 0 15%;
    font-size: 3em;
    padding: 10px 0px;
  }
  #explore .circle-cont {
    width: 100%;
  }
  #explore .circle-cont .explore-circle img {
    width: 30vw;
    height: 30vw;
  }
  .text {
    font-size: 2em;
  }
  .clouds .text {
    margin: 30px;
  }
  .trees {
    margin-top: -550px;
  }
  .trees .text {
    padding: 30px;
    margin: 0 auto;
    right: 0;
    width: 100%;
  }
  .trees .text a {
    margin-top: 50px;
    font-size: 1.3em;
  }
  video {
    width: 80%;
    height: 80%;
  }
  footer p {
    top: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .splash-img img {
    max-width: 100vw;
    margin-top: -15vw;
  }
  .splash-img p {
    position: absolute;
    top: 60%;
    width: 50%;
    margin: 0 25%;
    font-size: 3em;
    padding: 10px 0px;
  }
  #explore h2 {
    font-size: 5em;
  }
  #explore .circle-cont .explore-circle {
    margin: 2vw 1vw;
    font-size: 2em;
  }
  #explore .circle-cont .explore-circle img {
    width: 24vw;
    height: 24vw;
  }
  #explore .circle-cont .explore-circle p {
    font-size: 2em;
  }
  .text {
    font-size: 3em;
  }
  .text h2 {
    font-size: 4em;
  }
  .clouds .text {
    margin: 30px;
  }
  .trees {
    margin-top: -80vw;
  }
  .trees .text {
    padding: 30px;
    margin: 0 auto;
    right: 0;
    width: 100%;
  }
  .trees .text a {
    padding: 10px 30px;
    font-size: 1em;
    border: 5px #fff solid;
  }
}

.form-container {
  background-color: #9fb59d;
  width: 100vw;
  height: 100vh;
  padding-top: 20vw;
  font-family: 'Amatic SC', cursive;
}

form {
  background-color: #516d577c;
  border-radius: 10px;
  display: block;
  margin: 0 5vw auto;
  padding: 20px;
}

form p {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
}

form input {
  font-size: 1.2em;
  margin: 10px auto;
  display: block;
  padding: 2px;
}

form button {
  font-size: 1em;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  form {
    margin: 0 20vw auto;
  }
}
/*# sourceMappingURL=main.css.map */