.form-container{
    background-color: #9fb59d;
    width: 100vw;
    height: 100vh;
    padding-top: 20vw;
    font-family: 'Amatic SC', cursive;
}

form{
    background-color: #516d577c;
    border-radius: 10px;
    display: block;
    margin: 0 5vw auto;
    padding: 20px;
    p{
        color: #fff;
        font-size: 1.8em;
        text-align: center;
    }
    input{
        font-size: 1.2em;
        margin: 10px auto;
        display: block;
        padding: 2px;
    }
    button{
        font-size: 1em;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width:1000px){
    form{
        margin: 0 20vw auto;
    }
}